.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.list-group {
  width: 800px;
}

.list-group-item {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

table {
  width: 50%;
  border: 1px solid blueviolet;
  margin-top: 20px;
}

table th {
  border-bottom: 1px outset blueviolet;
}

table td {
  text-align: center;
  height: 20px;
}

table {
  padding-bottom: 20px;
}
